[push]
	default = simple
[diff]
	tool = gvimdiff
[alias]
	ll = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	st = status
	co = checkout
	cm = commit -m
	acm = !git add -A && git commit -m
	dv = difftool -t gvimdiff -y
	last = log -1 HEAD --stat
[user]
	name = jsc
	email = jorgen.scott@paneda.se
[branch]
	autosetuprebase = never
[include]
	path = /home/jsc/work/template/.gitalias
[paneda]
	githubapi = 06f92ddc075aa422a97ba1c00b235d4a21c7ff10
[merge "ours"]
	driver = true
[submodule "submodules/common"]
	url = git@github.com:paneda/common.git
[core]
	autocrlf = input
[pull]
	rebase = false
