xrandr --output HDMI3 --left-of DP1
xrandr --output DP1 primary
xrandr --output HDMI1 --right-of DP1

export EDITOR="gvim"
export VISUAL="$EDITOR"
export FCEDIT="$EDITOR"
export SUDO_EDITOR="$EDITOR"

