export EDITOR="gvim"
export VISUAL="$EDITOR"
export FCEDIT="$EDITOR"
export SUDO_EDITOR="$EDITOR"

if test -f /home/jsc/.nvm/nvm.sh; then
  source /home/jsc/.nvm/nvm.sh
fi

if test -f /opt/XTC/15.2.1/SetEnv; then
  cd /opt/XTC/15.2.1
  source SetEnv
  cd -
fi

if test -f /opt/esp-idf/export.sh; then
  source /opt/esp-idf/export.sh
fi
